.carouselContainer {
  position: relative;
}
.headerImg {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 250px;
  height: 250px;

  @media screen and (max-width: 768px) {
    top: 68%;
    width: 120px;
    height: 120px;
  }
}

.carouselHeading {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;

  font-size: 5rem;

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
    top: 20%;
  }

  @media screen and (min-width: 1000px) {
    font-size: 4rem;
  }
}

.carouselSubheading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  font-size: 3rem;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    top: 30%;
  }
}
.carouselSubheading2 {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  font-size: 3rem;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    top: 40%;
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;

  margin-bottom: 10%;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    width: 50vw;
    height: 50vh;

    margin-top: 3rem;
  }
}

.embla__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
