.skillsTitle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;
  margin-bottom: -1rem;
  color: #fff;

  font-size: 2.5rem;

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container {
  display: flex;
  justify-content: space-between;

  padding: 3rem;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.weightTraining,
.nutrition {
  width: 48%;

  background-color: #fff;

  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem;

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    width: 100vw;
  }
}

.weightTraining,
.nutrition {
  margin: 10px;
}

.weightTraining ul,
.nutrition ul {
  list-style: none;
  padding: 0;
}

.weightTraining li,
.nutrition li {
  font-weight: bold;
}

.weightTraining p,
.nutrition p {
  margin-bottom: 10px;
}

.nutrition {
  background-image: url("../../assets/food.png");
  background-size: cover;
  color: white;

  font-size: larger;
}

.weightTraining {
  background-image: url("../../assets/weights.png");
  background-size: cover;
  color: white;

  font-size: larger;
}
