.skillsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: -1rem;
  color: #fff;
  font-size: 2.5rem;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 3rem;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  @media screen and (max-width: 380px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.weightTraining,
.nutrition {
  width: 48%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem;

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: 2rem;
  }

  @media screen and (max-width: 768px) {
    width: 100vw;

    h2 {
      margin-bottom: 1rem;
    }
  }
}

.weightTraining,
.nutrition {
  margin: 10px;
}

.weightTraining ul,
.nutrition ul {
  list-style: none;
  padding: 0;
}

.weightTraining li,
.nutrition li {
  font-weight: bold;
  font-size: 1.5rem;
}

.weightTraining b,
.nutrition b {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-bottom: 1rem;

  &:hover {
    color: #ccc;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.weightTraining p,
.nutrition p {
  margin-bottom: 10px;
  font-size: 1rem;
}

.nutrition {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/newFood.jpeg");
  background-size: cover;
  color: white;

  @media screen and (max-width: 780px) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets/foodmobile.jpeg");
    background-size: cover;
    border: none;

    h2 {
      font-size: 2.2rem;
    }

    h3 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }
}

.weightTraining {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/weights.png");
  background-size: cover;
  color: white;

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 780px) {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../../assets/gymmobile.jpeg");

    h2 {
      font-size: 2.2rem;
    }

    h3 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }
}

.bContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.moreInfo {
  font-size: 0.8rem;
  color: #777;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    color: #ccc;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
    margin-left: 0;
  }
}
