.socailMedia {
  a,
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    gap: 10px;

    &:hover {
      color: #75757b;
      transition: ease-in-out 0.3s;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
      margin-right: 20px;

      h3 {
        display: none;
      }
    }
  }
}
